.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal__opened {
  visibility: visible;
}

.modal__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 24px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  border: none;
  background-color: #0000001d;
}

.modal__close:hover {
  background-color: transparent;
}

.modal__label {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 20px;
}

.modal__label.modal__label_type_radio {
  margin-bottom: 8px;
}

.modal__input {
  max-width: 440px;
  margin-top: 8px;
  border: none;
  border-bottom: 1px solid #000000;
  width: 100%;
}

.modal__input_type_error {
  border-bottom: 2px solid #ff3b3b;
}

.modal__legend {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 12px;
}

.modal__content {
  position: relative;
  border-radius: 20px;
  border: 1px solid #0000001a;
  background-color: #fff;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  height: 436px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
}

.modal__radio-button {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__radio-input.modal__input_type_error {
  outline: 2px solid #ff3b3b;
}

.modal__submit {
  margin: 12px 0 36px;
  width: 124px;
  height: 36px;
  border-radius: 4px;
  border: #0000004d 1px;
  background-color: #0000004d;
  color: #fff;
}

.modal__submit:hover {
  opacity: 60%;
}

.modal__error {
  color: #ff3b3b;
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 8px;
  display: block;
}
